<p>
  <b>Band:</b>
  <%=h @song.band.name %>
</p>

<p>
  <b>Name:</b>
  <%=h @song.name %>
</p>

<p>
  <b>Lyrics:</b>
  <%=h @song.lyrics %>
</p>


<%= link_to 'Edit', edit_object_path(@song) %> |
<%= link_to 'Back', object_path %>
