<h1>New performance</h1>

<% form_for(@performance) do |f| %>
  <%= f.error_messages %>

  <p>
		<%= f.label :appearance_id %><br />
    <%= f.text_field :appearance_id %>
  </p>
  <p>
		<%= f.label :song_id %><br />
    <%= f.text_field :song_id %>
  </p>
  <p>
		<%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
		<%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
		<%= f.label :segue %><br />
    <%= f.check_box :segue %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', performances_path %>