<h1><%= @setlist.band.name %>, <%= @setlist.venue.name %></h1>
<h2><%= @setlist.show.date %>.</h2>

<p>
  <b>Posted by:</b>
  <%=h @setlist.user.login %>
</p>

<p>
  <b>Approved:</b>
  <%=h @setlist.approved %>
</p>

<p>
  <b>Songs:</b>
  <%=h @setlist.performances_count %>
</p>

<% @setlist.performances.each_with_index do |performance, i| %>
  <%= performance.song.name -%><%= delimiter(performance, i) -%>
<% end %>


<%= link_to 'Edit', edit_setlist_path(@setlist) %> |
<%= link_to 'Back', setlists_path %>
