<% form_for([@setlist, @performance]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :song_id %><br />
    <%= collection_select("performance", "song_id", Song.find(:all), "id", "name", :include_blank => true) %>
  </p>
  <p>
		<%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
		<%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
		<%= f.label :segue %><br />
    <%= f.check_box :segue %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>